html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #4d4d4d;
  padding-top: 50px;
}

h1 {
  font-size: 72px;
  letter-spacing: 16px;
}

#container {
  width: 600px;
  margin-top: 50px;
  background-color: #ffffff;
  border: 1px solid #ededed;
}

#form {
  width: 100%;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
}

#new-task-input {
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

#new-task-input:focus {
  outline: 0;
}

#new-task-input,
#todo-item {
  width: 500px;
  padding: 15px;
  padding-left: 0;
  font-size: 24px;
  border: 0;
}

#todo-item {
  background-color: #ffffff;
}

#new-task-input::placeholder {
  font-style: italic;
  color: #e6e6e6;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 50px;
  height: 50px;

  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.checkbox:checked {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.checkbox:hover {
  cursor: pointer;
}

#task-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #000;
}

#task-list li {
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
}

footer {
  box-sizing: content-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #e6e6e6;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

footer::after {
  content: '';
  position: absolute;
  width: 585px;
  height: 5px;
  background-color: #fff;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%);
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

footer::before {
  content: '';
  position: absolute;
  width: 580px;
  height: 5px;
  background-color: #fff;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #ededed;
}

.buttonContainer button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
  background: transparent;
  margin: 5px;
  font-size: 14px;
}

.buttonContainer button:hover {
  border: 1px solid rgba(175, 47, 47, 0.1);
  cursor: pointer;
}

.clearBtn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.clearBtn:hover {
  text-decoration: underline;
}

#toggle-all {
  position: relative;
  appearance: none;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  color: #ededed;
  cursor: pointer;
}
#toggle-all:checked {
  background: transparent;
}

#toggle-all::after {
  content: '❯';
  font-size: 25px;
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.clicked {
  color: #4d4d4d;
}

.hover-delete-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  opacity: 0.5;
}

.hover-delete-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hover-delete-btn::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#task-list li:hover .hover-delete-btn {
  display: block;
}

.hover-delete-btn:hover {
  opacity: 1;
}

.completed-task {
  text-decoration: line-through;
  color: #4d4d4d;
}
